{ 
  "Dht22Settings": {
    "Pin": 26,
    "ExecutablePath": "./RPIDHT22Driver/rpidht22driver",
    "IntervalInMinutes": 2
  },
  "ConnectionStrings": {
    "MariaDBConnection": "Server=localhost;Database=SensorData;User=sensor_data;Password=temporaryPasswordThatIsOk!;"
},
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
